<!DOCTYPE html>
<html>
<head>
    <title>Q&A System</title>
    <link rel="stylesheet" type="text/css" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/all.css">
</head>
<body>
    <h1>Q&A System</h1>
    
    <div class="wrap">
        <div class="left-navbar"> 
            <!--  
            <select id="folders" name="folders" onchange="sendFolder()">
                <option value="new">new</option>
                <option value="0319">0319</option>
                <option value="0320">0320</option>
                <option value="test1">test1</option>
            </select>
            <div class="similar-area">
                <h2>相似問題</h2>
                <ul class="similar"></ul>
            </div>-->
        </div>
        <div class="chat-area">
            <div class="chat-history">
            </div>
            <form action="/get_response" method = "post" accept-charset="UTF-8" id="chat-form">
                <input type="text" class="user-input" placeholder="Ask a question..." name="user_input">
                <button type="submit" class="send-button">Send</button>
            </form>
        </div>
        
    </div>
    <script>
        /*
        function sendFolder(){
            var selectedFolder = document.getElementById("folders").value;
            
            document.querySelector(".chat-history").innerHTML = "";
            fetch('/selected_folder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ folder: selectedFolder })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
                alert("Error:",error);
            });
        }
        */
        function copyText(text) {
            navigator.clipboard.writeText(text);
        }
        document.addEventListener("DOMContentLoaded", function() {
            const chatForm = document.getElementById("chat-form");
            const userInput = document.querySelector(".user-input");
            const chatHistory = document.querySelector(".chat-history");
            const sendButton = document.querySelector(".send-button");
            const deleteFileButton=document.querySelectorAll(".trashcan");
            const fileInput = document.getElementById("file-upload");
            const fileList=document.querySelector(".file-list");
            const submitButton=document.querySelector(".submit-button");
            const uploadForm = document.getElementById("upload-form");
            const similar=document.querySelector(".similar");
            //Display chat
            chatForm.addEventListener("submit", function(event) {
                event.preventDefault();
                const userMessage = userInput.value;
            
                if (userMessage.trim() !== "") {
                    //similar.innerHTML="";
                    const userMessageDiv = document.createElement("div");
                    userMessageDiv.classList.add("message", "user");
                    //userMessageDiv.textContent = userMessage;
                    userMessageDiv.innerHTML = "<i class='fa-solid fa-user'></i><p>" + userMessage + "</p>";
                    chatHistory.appendChild(userMessageDiv);
                    const assistantMessageDiv = document.createElement("div");
                    
                    
                    const loader = document.createElement("div");
                    loader.classList.add("loader","message", "assistant");
                    

                    assistantMessageDiv.innerHTML ="<i class='fa-solid fa-comment'></i><p id='res-mes'><div class='loader message assistant'></div></p>";
                    chatHistory.appendChild(loader);

                    fetch("/get_response", {
                        method: "POST",
                        body: new URLSearchParams({ user_input: userMessage }),
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded"
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        //response
                        chatHistory.removeChild(loader);
                        const assistantMessage = data.response;
                        assistantMessageDiv.classList.add("message", "assistant");
                        const escapedAssistantMessage = assistantMessage.replace(/\n/g, " ");
                        let timestamp = Date.now();
                        let date = new Date(timestamp);
                        let hours = date.getHours().toString().padStart(2, '0');
                        let minutes = date.getMinutes().toString().padStart(2, '0');
                        let formattedDate = `${date.getFullYear()}/${date.getMonth() + 1}/${date.getDate()} ${hours}:${minutes}:${date.getSeconds()}`;
                       
                        assistantMessageDiv.innerHTML =" <i class='fa-solid fa-comment'></i><p id='res-mes'>"+assistantMessage+"<br>"+formattedDate+"</p><i class='far fa-copy' onclick='copyText(\""+escapedAssistantMessage+"\")'></i>";
                        chatHistory.appendChild(assistantMessageDiv);
                        // 滾動到最新的回答
                        assistantMessageDiv.scrollIntoView({ behavior: 'smooth', block: 'end' });
                        //top N similar questions
                        /*
                        const topQ=data.top_three;
                        var values = Object.values(topQ);
                        for(num=0; num<values.length; num++){
                            topQDiv=document.createElement("li");
                            topQDiv.textContent=`${values[num]['Q']}`;
                            similar.append(topQDiv);
                        }*/

                    });
                    userInput.value = "";
                }
            });
        });
    </script>
</body>
</html>
